<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="directory_filters" type="LoggingSourceTool.DirectoryFiltersConfigurationSection, LoggingSourceTool" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <directory_filters>
    <exclude>
      <add regex="^\..*$" />
      <add regex="^.*Test$" />
      <add regex="^bin$" />
      <add regex="^obj$" />
      <add regex="^Output$" />
      <add regex="^Properties$" />
      <add regex="^packages$" />
      <add regex="^Scripts$" />
    </exclude>
  </directory_filters>
</configuration>