<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- configSections must be the first child element of configuration -->
  <configSections>
    <section name="LoggingSettings" type="Logging.LoggingSettings, Logging" />
  </configSections>
  <LoggingSettings level="Info" dirPath="C:\Temp" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>